# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage/
playwright-report/
test-results/
.vitest/

# next.js
.next/
out/
build/

# production
dist/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/*.db
prisma/*.db-journal

# IDE
.idea/
.vscode/
*.swp
*.swo
